<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="custom.css" rel="stylesheet" type="text/css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #222326">
  <div class="container" style="padding-top: 175px">
    <div class="row justify-content-center">
        <div class="col-12" style="padding-bottom: 50px">
          <p style="text-align: center">
            <a href="." style="color: #1ED760; text-decoration: none; font-size: 66px;">
                Groupify
            </a>
          </p>
        </div>
        <div class="col-12 text-center" style="padding-bottom: 25px">
          <button id="host-btn"
          class="btn btn-outline-secondary"
          style="color: #4CFF8D; border-color: #4CFF8D"
          type="button">Create Room</button>
        </div>
        <div id="custom-search-input text-center">
            <div class="input-group">
                <input id="search-input" type="text" class="search-query form-control" placeholder="Room Code" />
                    <div class="input-group-append">
                        <button
                        id="join-btn"
                        class="btn btn-outline-secondary"
                        style="color: #4CFF8D; border-color: #4CFF8D"
                        type="button">Join Room</button>
                    </div>
            </div>
        </div>
    </div>
  </div>


  <script>
  (function($) {
    /**
    Post to joinRoom and get success if correct room ID
    - if success: go to /join/
    - else: go back to homepage
    **/
    $("#join-btn").click(function() {
      $.post('/join/joinRoom', {roomId: $('#search-input').val()}, function(data) {
        if(data.success == true)
          window.location.href = `/join/${$('#search-input').val()}`;
        else {
          alert('Wrong Room ID');
          window.location.href = '/';
        }
      });
    });

    /**
    GET call to /host/login which returns the authorizeURL and redirects to login
    - redirects to /host/ with code or error
    **/
    $("#host-btn").click(function() {
      $.get('/host/login', function(data) {
        window.location.href = data;
      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
        $('#join-btn').click();
      }
    });
  })(jQuery);
  </script>
</body>
</html>
