<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  	<div class="row">
  	    <div class="col-12"><h1><a href="." style="color: #84bd00; text-decoration: none;">Groupify</a><h1></div>
        <div class="input-group-append">
          <div class="col-12">
        	    <div id="custom-search-input">
                  <div class="input-group">
                      <input id="search-input" type="text" class="search-query form-control" placeholder="Room Code" />
                      <div class="input-group-append">
                        <button id="join-btn" class="btn btn-outline-secondary" type="button">Join Room</button>
                      </div>
                  </div>
              </div>
          </div>
          <button id="host-btn" class="btn btn-outline-secondary" type="button">Create Room</button>
        </div>
  	</div>
  </div>


  <script>
  (function($) {
    /**
    Post to joinRoom and get success if correct room ID
    - if success: go to /join/
    - else: go back to homepage
    **/
    $("#join-btn").click(function() {
      $.post('/join/joinRoom', {roomId: $('#search-input').val()}, function(data) {
        if(data.success == true)
          window.location.href = `/join/${$('#search-input').val()}`;
        else {
          alert('Wrong Room ID');
          window.location.href = '/';
        }
      });
    });

    /**
    GET call to /host/login which returns the authorizeURL and redirects to login
    - redirects to /host/ with code or error
    **/
    $("#host-btn").click(function() {
      $.get('/host/login', function(data) {
        window.location.href = data;
      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
        $('#join-btn').click();
      }
    });
  })(jQuery);
  </script>
</body>
</html>
