<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  	<div class="row">
  	    <div class="col-12"><h1><a href="../" style="color: #84bd00; text-decoration: none;">Groupify</a><h1></div>
  	    <div class="col-12">
          <div id="room-id">Room ID: <%= roomId %></div>
          <button id="play-btn" class="btn btn-outline-secondary" type="button">Play</button>
          <button id="pause-btn" class="btn btn-outline-secondary" type="button">Pause</button>
        </div>
  	</div>

    <div class="row">
      <div class="col-12">
          <div class="container">
           <div id="search-result" class="row">

           </div>
         </div>
      </div>
    </div>
  </div>

  <script>
  (function($) {
    $(window).unload( function () {
      $.ajax({
          type: "POST",
          url: "host/closeRoom",
          data: {roomId: '<%= roomId %>'},
          async: false,
      });
    });

    $("#play-btn").click(function() {
      $.ajax({
        url: 'host/play',
        type: 'PUT',
        data:"roomId=<%= roomId %>"
      });
    });

    $("#pause-btn").click(function() {
      $.ajax({
        url: 'host/pause',
        type: 'PUT',
      });
    });
  })(jQuery);
  </script>
</body>
</html>
