<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Groupify</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="banner">
    <button type="button" id="play-btn">Play</button>
    <button type="button" id="host-btn">Host</button>
  </div>

  <div id="roomId">
    <%= roomId %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script>
  (function($) {
    $("#host-btn").click(function() {
      $.get("/hostLink", function(data) {
        window.location = data;
      });
    });

    $("#play-btn").click(function() {

    });
  })(jQuery);
  </script>
</body>
</html>
