<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Groupify</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="banner">
    Song Name: <input type="text" id="song-name" value="Shelter"><br>
    Artist Name: <input type="text" id="artist-name" value="Porter Robinson"><br>
    <button type="button" id="search-btn">search</button>
  </div>

  <h1>Search Results</h1>
  <div id="search-result"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script>
  (function($) {



    $("#search-btn").click(function(){
      $.post("/", {songName: $('#song-name').val(), artistName: $('#artist-name').val()}, function(data) {
        data.forEach(function(tracks) {
          var songName = tracks.name;
          var albumName = tracks.album.artists[0].name;
          var songLink = tracks.album.artists[0].external_urls.spotify;
          $('#search-result').append(
            `<span>
              <a href=${songLink}>
                <div>${songName} by ${albumName}</div>
              </a>
              <button type="button" id=${tracks.album.artists[0].id} class="add-to-queue">Add to queue</button>
            </span>`
          );
        })
      });
    });
  })(jQuery);
  </script>
</body>
</html>
