<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  	<div class="row">
  	    <div class="col-12"><h1><a href="../" style="color: #84bd00; text-decoration: none;">Groupify</a><h1></div>
  	    <div class="col-12">
          <div id="room-id"><%= roomId %></div>
    	    <div id="custom-search-input">
              <div class="input-group">
                  <input id="search-input" type="text" class="search-query form-control" placeholder="Song Name, Artist, or both" />
                  <div class="input-group-append">
                    <button id="search-btn" class="btn btn-outline-secondary" type="button">search</button>
                  </div>
              </div>
          </div>
        </div>
  	</div>

    <div class="row">
      <div class="col-12">
          <div class="container">
           <div id="search-result" class="row">

           </div>
         </div>
      </div>
    </div>
  </div>

  <script>
  (function($) {
    $("#search-btn").click(function() {
      $.post("/join/searchTrack", {trackSearch: $('#search-input').val()}, function(data) {
        // Reset results
        $('#search-result').replaceWith(`<div id="search-result" class="row"></div>`);

        // No search results
        if(data.length == 0) {
          $('#search-result').append(`<h4>No results found :(</h4>`);
        } else {
          data.forEach(function(tracks) {
            const songName = tracks.name;
            const albumName = tracks.album.artists[0].name;
            const songLink = tracks.album.artists[0].external_urls.spotify;
            const imgURL = tracks.album.images[1].url;
            $('#search-result').append(
              `<div class="col-12">
                <img src="${imgURL}" alt="${songName}">
                <a href="${songLink}"><button type="button" class="btn btn-success">${songName} - ${albumName}</button></a>
                <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add to queue</button>
              </div>`
            );
          })
        }
      });
    });

    $(document).on("click", ".queue", function(event){
      $.post("/join/addToQueue", {trackId: this.id, roomId: '<%= roomId %>'}, function(data) {

      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
          $('#search-btn').click();
      }
    });
  })(jQuery);
  </script>
</body>
</html>
